<!-- Navigation panel -->
<nav class="main-nav dark transparent stick-fixed">
  <div class="full-wrapper relative clearfix">
    <!-- Logo ( * your text or image into link tag *) -->
    <div class="nav-logo-wrap local-scroll">
      <a href="#top" class="logo">
        <img src="../../../assets/images/logo-white.png" alt="" />
      </a>
    </div>
    <div class="mobile-nav">
      <i class="fa fa-bars"></i>
    </div>
    <!-- Main Menu -->
    <div class="inner-nav desktop-nav">
      <ul class="clearlist scroll-nav local-scroll">

        <li><a routerLink="/home">Home</a></li>

        <!-- Artemis Sub Menu -->
        <li>
          <a routerLink="#" class="mn-has-sub">Artemis <i class="fa fa-angle-down"></i></a>
          <ul class="mn-sub to-left">
            <li><a routerLink="/who-are-we">Who are we?</a></li>
            <li><a routerLink="/approach">Approach</a></li>
            <li><a routerLink="/principles">Principles</a></li>
            <li><a routerLink="/values">Values</a></li>
            <li><a routerLink="/ethics">Ethics</a></li>
          </ul>
        </li>

        <!-- Coaching Sub Menu -->
        <li>
          <a routerLink="#" class="mn-has-sub">Artemis <i class="fa fa-angle-down"></i></a>
          <ul class="mn-sub to-left">
            <li><a routerLink="/individual-coaching">Individual Coaching</a></li>
            <li><a routerLink="/team-coaching">Team Coaching</a></li>
            <li><a routerLink="/ceo-coaching">CEO Coaching</a></li>
            <li><a routerLink="/organisation-coaching">Organisation Coaching</a></li>
          </ul>
        </li>

        <!-- Consulting Sub Menu -->
        <li>
          <a routerLink="#" class="mn-has-sub">Consulting <i class="fa fa-angle-down"></i></a>
          <ul class="mn-sub to-left">
            <li><a routerLink="/change-management">Change Management</a></li>
            <li><a routerLink="/team-building">Team Building</a></li>
          </ul>
        </li>

        <li><a routerLink="/contact">Contact</a></li>

      </ul>
    </div>
    <!-- Main Menu End -->
  </div>
</nav>
<!-- End Navigation panel -->